.woorupape {
  width: 100vw;
  height: 100vh;
  border: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fouGif {
  position: absolute;
  width: 120px;
  height: 120px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-left-color: #66fcf1;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.time {
  display: none;
}
